
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.primary-text{
   color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav  a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 20px;
}