
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
}
.nav-title{
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.primary-text{
   color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav  a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 20px;
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding:30px 30px 30px 150px ;
    display: flex;
    align-items: center;

}
.banner .profile-pic{
    width: 500px;
    height: 500px;
    border-radius: 5px;
}